<%- include('head.ejs') %>
<footer>
    <div class="footer-icons">
        <a href="https://discord.gg/aB67HwZEk6">
            <img src="img/discord-icon.png">
        </a>
        <a href="https://github.com/JosxIdk/mobylist">
            <img src="img/github-icon.png">
        </a>
    </div>
</footer>